<nav aria-label="main navigation" class="navbar level" role="navigation">
  <div class="navbar-brand">
    <span class="navbar-item has-text-weight-bold"> 2048 Game </span>
    <span *ngIf="loginService.isAuthenticated()" class="navbar-item">Hello, <span class="has-text-weight-bold">
      {{loginService.userName}}</span>!
    </span>
    <!--<span class="navbar-item has-text-weight-normal">Score: {{game?.getScores()}}</span>-->
    <a
      aria-expanded="false"
      aria-label="menu"
      class="navbar-burger burger"
      data-target="navbarBasicExample"
      role="button"
    >
      <span aria-hidden="true"></span> <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <a (click)="item.action()" *ngFor="let item of navService.actions" class="navbar-item">
      {{item.buttonText}}
    </a>
  </div>
  <div class="navbar-menu" id="navbarBasicExample">
    <div class="navbar-end">
      <a [routerLink]="['/']" class="navbar-item" id="btn-new-game">
        Игра
      </a>
      <a [routerLink]="['/leaderboards']" class="navbar-item">
        Рекорды
      </a>
      <a *ngIf="!loginService.isAuthenticated()" [routerLink]="['/login']" class="navbar-item">
        Войти
      </a>
      <a (click)="loginService.logout()" *ngIf="loginService.isAuthenticated()" class="navbar-item">
        Выйти
      </a>
    </div>
  </div>
</nav>
