<div id="loading-indicator">Loading...</div>
<div id="game-content" style="visibility: hidden">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <span class="navbar-item has-text-weight-bold"> 2048 Game </span>
      <span class="navbar-item has-text-weight-normal">Score: {{game?.getScores()}}</span>
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span> <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#" id="btn-new-game">
              <span class="icon is-large">
                <span class="oi" data-glyph="reload"></span>
              </span>
          New game
        </a>
        <a class="navbar-item" href="#" id="btn-about">
              <span class="icon is-large">
                <span class="oi" data-glyph="info"></span>
              </span>
          About
        </a>
      </div>
    </div>
  </nav>

  <div id="drawing"></div>
  <div id="controls">
    <button type="button" id="btn-up">
          <span class="icon has-text-grey">
            <span class="oi" data-glyph="caret-top"></span>
          </span>
    </button>
    <button type="button" id="btn-left">
          <span class="icon has-text-grey">
            <span class="oi" data-glyph="caret-left"></span
            ></span>
    </button>
    <button type="button" id="btn-right">
          <span class="icon has-text-grey">
            <span class="oi" data-glyph="caret-right"></span>
          </span>
    </button>
    <button type="button" id="btn-down">
          <span class="icon has-text-grey">
            <span class="oi" data-glyph="caret-bottom"></span>
          </span>
    </button>
  </div>
</div>
