<div id="loading-indicator">Loading...</div>
<div>Score: {{game.getScores()}}</div>
<div id="game-content" style="visibility: hidden">
  <div id="drawing" class="has-text-centered"></div>
  <!--<div id="controls">-->
    <!--<button type="button" id="btn-up">-->
          <!--<span class="icon has-text-grey">-->
            <!--<span class="oi" data-glyph="caret-top"></span>-->
          <!--</span>-->
    <!--</button>-->
    <!--<button type="button" id="btn-left">-->
          <!--<span class="icon has-text-grey">-->
            <!--<span class="oi" data-glyph="caret-left"></span-->
            <!--&gt;</span>-->
    <!--</button>-->
    <!--<button type="button" id="btn-right">-->
          <!--<span class="icon has-text-grey">-->
            <!--<span class="oi" data-glyph="caret-right"></span>-->
          <!--</span>-->
    <!--</button>-->
    <!--<button type="button" id="btn-down">-->
          <!--<span class="icon has-text-grey">-->
            <!--<span class="oi" data-glyph="caret-bottom"></span>-->
          <!--</span>-->
    <!--</button>-->
  <!--</div>-->
</div>
